doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="style.css")
    body
        .container
            .password_reset
                .logo HealthCuisine
                .title Hi #{ firstName } #{ lastName }, Here's Your 
                    span Password Reset Link.
                p Your password reset link is 
                    a( href=`${ url }`) #{ url }. Please use this link to reset your password. But hurry up!!! The link is valid only for 10 minutes.
                p Congrats on getting back to your regimen. Stay Fit. Stay Healthy. Stay Strong.